<?xml version="1.0"?>
<launch>
  <param name="path_to_backtrack_topic" value="/bebop/frodopathy" type="str"/>
  <node name="backtracker" pkg="testing" type="backtracker" respawn="false" output="screen"/>
  

<node pkg="testing" type="robottrajectory" name="path_to_trajectory" output="screen"/>
</launch>
