<?xml version="1.0"?>
<launch>
<!-- preview rosbag file previously recorded with indoor_teleop_record.launch

usage:

roslaunch testing view_rosbag.launch bag:=<full path to bagfile>

-->

<!-- read bagname from command line -->
<arg name="bag" />

<!-- run rosbag play with specified bag -->
<node pkg="rosbag" type="play" name="rosbag_play"
       args="--pause $(arg bag)" output="screen"/>

<!-- run image_view to see images from the bag -->
<node pkg="image_view" type="image_view" name="imview" args="image:=/bebop/image_raw" /> 

<arg name="cmd_vel" default="/bebop/odom" />
 <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot" args="$(arg cmd_vel)" />
       
</launch>
