<?xml version="1.0"?>
<launch>
<!-- preview rosbag file previously recorded with indoor_teleop_record.launch

usage:

roslaunch testing view_rosbag.launch bag:=<full path to bagfile>

-->

<!-- read bagname from command line -->
<arg name="bag" />

<!-- run rosbag play with specified bag -->
<node pkg="rosbag" type="play" name="rosbag_play"
       args="--pause $(arg bag)" output="screen"/>

<node pkg="testing" type="frodopathy" name="frodopathy"
	args="/bebop/odom /bebop/frodopathy"/>

<node pkg="testing" type="frodopathy" name="frodopathy_dso"
	args="/dso_odom_topic /dso/frodopathy"/>

<node pkg="testing" type="frodopathy" name="frodopathy_ultimetry"
	args="/ultimetry /ultimetry/frodopathy"/>

<node pkg="testing" type="ultimetry" name="ultimetry" output="screen"/>

<node pkg="testing" type="eigenserviceprovider" name="service" output="screen"/>

<!--<arg name="cmd_vel" default="/bebop/odom" />
 <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot" args="$(arg cmd_vel)" /> 

  <arg name="model" default="$(find bebop_description)/urdf/bebop_base.urdf.xacro"/>
  <arg name="gui" default="False" />
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>-->

<arg name="rvizconfig" default="$(find testing)/rviz_cfg/indoor_teleop_rosbag.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

<!----><node pkg="dso_ros" type="dso_live" name="dso" output="screen"
	args="image:=/bebop/image_raw calib=/home/harasim/catkin_ws/runtime/calibration_recordings/calibration/camera.txt"/>
       
</launch>
